<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.usu.A02340346">

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/contacts_icon"
        android:label="Contacts"
        android:roundIcon="@mipmap/contacts_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AlgoSim">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

    <uses-permission android:name="android.permission.CALL_PHONE"/>

</manifest>